<div class="movie-container">
	<div class="div1">
		<div class="image-container">
			<img src="<%= film.image %>" alt="caubema" />
		</div>
		<p class="p">
			<%= film.title %> <br />
			<span class="span1"><%= film.name %></span> <br />
			<span class="span3"><%= film.time %></span>
		</p>
	</div>
</div>
