* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 0;
	background-image: url("../asset/film-background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	width: 80%;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.movie img {
	width: 200px;
	height: 300px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
}
